body {
    display: flex;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: 1fr;
    background-color: rgba(4, 27, 95, 0.803);
    border: solid black 2px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: start;
    overflow: auto;
}

.buttonOne, .buttonTwo {
    height: 6vw;
    width: 30vw;
    max-width: 200px;
    max-height: 60px;
    background-color: rgba(240, 248, 255, 0.557);
    border: solid 2px black;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 2px 2px 5px 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease-in-out; 
}

.smallerText {
    font-size: 1vw;
}
.buttonTwo {
    margin-right: 5vh;
}

.buttonOne {
    margin-left: 5vh;
    margin-right: 5vh;
}

.timer {
    margin-top: 5vh;
    height: 10vh;
    width: 80%;
    background-color: white;
    border: solid black 2px;
    margin-bottom: 5vh;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-family: 'Courier New', Courier, monospace;
}

.box > * {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    min-width: 75px;
    min-height: 25px;
    background-color: rgba(129, 17, 17, 0.539);
    margin-bottom: 2vw;
    border: solid black 2px;
    box-shadow: 2px 2px 5px 1px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    transition: background-color 0.3s ease-in-out;
}

.buttonOne:hover, .buttonTwo:hover {
    background-color: rgba(255, 175, 77, 0.677);
}

.reset:hover {
    background-color: rgba(0, 127, 207, 0.63);
}

.buttonPlus, .buttonMinus {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: solid rgba(15, 14, 14, 0.665) 2px;
    border-radius: 2px;
    height: 8vh;
    width: 8vw;
    transition: background-color 0.1s ease-in-out;
}

.buttonPlus {
    top: 30vh;
    left: 7vw;
}
.buttonPlus:hover {
    background-color: rgba(35, 35, 35, 0.826);
}

.buttonMinus {
    top: 60vh;
    left: 7vw;
}
.buttonMinus:hover {
    background-color: rgba(35, 35, 35, 0.826);
}